.questionHeader {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2em;
}

.questionContent {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}

.startButton .MuiButton-root {
  width: 10%;
  margin-left: 1em;
}
.categorySelect {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.categoryChoice .MuiButton-root {
  width: 60%;
  margin-top: 1em;
  font-size: 18px;
}
.categoryChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
